:root{
    --primary: #174bac;
    --secondary: #151455;
    --complementary: #7ed0f7;
    --accent: #eeeeee;
    --font-primary: #a5a5a5;
    --font-secondary: #1a1a1a;

    --xs: "375px";
    --sm: "425px";
    --md: "768px";
    --lg: "1024px";
    --xl: "1440px";
}

a{
    text-decoration: none;
}
.container{
    margin: auto;
}

/* MORE TO ADD */
.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.content-center{
    justify-content: center;
}
.content-end{
    justify-content: end;
}
.content-start{
    justify-content: start;
}
.content-around{
    justify-content: space-around;
}
.content-between{
    justify-content: space-between;
}
.items-center{
    align-items: center;
}


.bg-primary{
    background-color: var(--primary);
}
.bg-secondary{
    background-color: var(--secondary);
}
.bg-accent{
    background-color: var(--accent);
}
.bg-complementary{
    background-color: var(--complementary);
}

.border-1{
    border-radius: 1rem;
}
.border-2{
    border-radius: 2rem;
}


/* margin UTILITIES */
.m-0{
    margin: 0;
}
.m-1{
    margin: 0.5rem;
}
.m-2{
    margin: 1rem;
}
.m-3{
    margin: 1.5rem;
}
.m-4{
    margin: 2rem;
}
.m-5{
    margin: 3rem;
}
.m-6{
    margin: 5rem;
}

.mx-0{
    margin-left: 0rem;
    margin-right: 0rem;
}
.mx-1{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.mx-2{
    margin-left: 1rem;
    margin-right: 1rem;
}
.mx-3{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.mx-4{
    margin-left: 2rem;
    margin-right: 2rem;
}
.mx-5{
    margin-left: 3rem;
    margin-right: 3rem;
}
.mx-6{
    margin-left: 5rem;
    margin-right: 5rem;
}

.my-0{
    margin-top: 0rem;
    margin-bottom: 0rem;
}
.my-1{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.my-2{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.my-3{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.my-4{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.my-5{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.my-6{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.mt-0{
    margin-top: 0;
}
.mt-1{
    margin-top: 0.5rem;
}
.mt-2{
    margin-top: 1rem;
}
.mt-3{
    margin-top: 1.5rem;
}
.mt-4{
    margin-top: 2rem;
}
.mt-5{
    margin-top: 3rem;
}
.mt-6{
    margin-top: 5rem;
}

.mb-0{
    margin-bottom: 0;
}
.mb-1{
    margin-bottom: 0.5rem;
}
.mb-2{
    margin-bottom: 1rem;
}
.mb-3{
    margin-bottom: 1.5rem;
}
.mb-4{
    margin-bottom: 2rem;
}
.mb-5{
    margin-bottom: 3rem;
}
.mb-6{
    margin-bottom: 5rem;
}


.ml-0{
    margin-left: 0;
}
.ml-1{
    margin-left: 0.5rem;
}
.ml-2{
    margin-left: 1rem;
}
.ml-3{
    margin-left: 1.5rem;
}
.ml-4{
    margin-left: 2rem;
}
.ml-5{
    margin-left: 3rem;
}
.ml-6{
    margin-left: 5rem;
}

.mr-0{
    margin-right: 0;
}
.mr-1{
    margin-right: 0.5rem;
}
.mr-2{
    margin-right: 1rem;
}
.mr-3{
    margin-right: 1.5rem;
}
.mr-4{
    margin-right: 2rem;
}
.mr-5{
    margin-right: 3rem;
}
.mr-6{
    margin-right: 5rem;
}

/* PADDING UTILITIES */

.p-0{
    padding: 0;
}
.p-1{
    padding: 0.5rem;
}
.p-2{
    padding: 1rem;
}
.p-3{
    padding: 1.5rem;
}
.p-4{
    padding: 2rem;
}
.p-5{
    padding: 3rem;
}
.p-6{
    padding: 5rem;
}

.px-0{
    padding-left: 0;
    padding-right: 0;
}
.px-1{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.px-2{
    padding-left: 1rem;
    padding-right: 1rem;
}
.px-3{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.px-4{
    padding-left: 2rem;
    padding-right: 2rem;
}
.px-5{
    padding-left: 3rem;
    padding-right: 3rem;
}
.px-6{
    padding-left: 5rem;
    padding-right: 5rem;
}

.py-0{
    padding-top: 0;
    padding-bottom: 0.;
}
.py-1{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.py-2{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.py-3{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.py-4{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.py-5{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.py-6{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.p-0{
    padding: 0;
}
.p-1{
    padding: 0.5rem;
}
.p-2{
    padding: 1rem;
}
.p-3{
    padding: 1.5rem;
}
.p-4{
    padding: 2rem;
}
.p-5{
    padding: 3rem;
}
.p-6{
    padding: 5rem;
}

.pt-0{
    padding-top: 0;
}
.pt-1{
    padding-top: 0.5rem;
}
.pt-2{
    padding-top: 1rem;
}
.pt-3{
    padding-top: 1.5rem;
}
.pt-4{
    padding-top: 2rem;
}
.pt-5{
    padding-top: 3rem;
}
.pt-6{
    padding-top: 5rem;
}


.pb-0{
    padding-bottom: 0;
}
.pb-1{
    padding-bottom: 0.5rem;
}
.pb-2{
    padding-bottom: 1rem;
}
.pb-3{
    padding-bottom: 1.5rem;
}
.pb-4{
    padding-bottom: 2rem;
}
.pb-5{
    padding-bottom: 3rem;
}
.pb-6{
    padding-bottom: 5rem;
}

.pl-0{
    padding-left: 0;
}
.pl-1{
    padding-left: 0.5rem;
}
.pl-2{
    padding-left: 1rem;
}
.pl-3{
    padding-left: 1.5rem;
}
.pl-4{
    padding-left: 2rem;
}
.pl-5{
    padding-left: 3rem;
}
.pl-6{
    padding-left: 5rem;
}


.pr-0{
    padding-right: 0;
}
.pr-1{
    padding-right: 0.5rem;
}
.pr-2{
    padding-right: 1rem;
}
.pr-3{
    padding-right: 1.5rem;
}
.pr-4{
    padding-right: 2rem;
}
.pr-5{
    padding-right: 3rem;
}
.pr-6{
    padding-right: 5rem;
}


.w-25{
    width: 25%;
}
.w-50{
    width: 50%;
}
.w-75{
    width: 75%;
}
.w-100{
    width: 100%;
}
.h-25{
    height: 25%;
}
.h-50{
    height: 50%;
}
.h-75{
    height: 75%;
}
.h-100{
    height: 100%;
}

body{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    min-width: 360px;
}


/* IMAGE UTILITIES */
.img{
    width: 100%;
    height: 100%;
}
.img-small{
    width: 50%;
    height: 50%;
}
.cover{
    object-fit: cover;
}
.contain{
    object-fit: contain;
}

/* CUSTOM CLASSES */
.bg-img{
    background-repeat: no-repeat;
    background-size: cover;
}

.button{
    position: relative;
    background-color: var(--primary);
    border-radius: 2rem;
    padding: 0.5rem 3rem;
    border: 2px solid #ffffff;
    box-shadow: 0px 0px 10px #ffffffdd;
    color: #ffffff;
    transition: 0.3s ease-in-out;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
}
.button:hover{
    background-color: #ffffff;
    transition: 0.3s ease-in-out;
    color: var(--primary);

}
.button::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    box-shadow: 0px 0px 15px 5px #ffffffee;
    opacity: 0;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.button:hover::before{
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.form-label{
    font-family: "Rubik";
    font-weight: 500;
    color: #ffffff;
    font-size: 1.25rem;
}
.form-input{
    width: 90%;
    background-color: #ffffff;
    padding: 0.5rem;
    margin: 0.5rem;
    color: var(--primary);
    border: 2px solid var(--complementary);
    font-size: 1.25rem;
    border-radius: 0.75rem;
    font-family: "Rubik";
    font-weight: 600;
}
.form-input:focus-visible{
    outline: none;
}
.form-input::placeholder{
    color: #bbbbbb;
    font-weight: 400;
}


/* NAVBAR */
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 9999;
}
.navbar .nav-item{
    font-size: 1.25rem;
}
.navbar ul li a{
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
}
.navbar ul li a:hover{
    /* TODO */
}
.navbar ul li{
    list-style:none;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.navbar ul{
    flex-direction: row;
}

.admin{
    transition: 0.4s ease-in-out;
    background-color: #7ed0f7;
    position: fixed;
    left: -14rem;
    top: 62px;
}

.admin ul li{
    list-style: none;
}

.admin:hover{
    left:0;
    transition: 0.4s ease-in-out;
}

.invert{
    filter: invert(1);
}
.icon{
    height: 2rem;
    width: auto;
}

.menu-button{
    outline: none;
    border: none;
    background-color: transparent;
    position: fixed;
    right: 0.5rem;
    top: 0.5rem;
}
.menu-button .icon{
    height: 2.5rem;
}
/* FONTS */

.img-center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
/* FONT FAMILY */
.font-sans{
    font-family: "Rubik", sans-serif;
}
.font-serif{
    font-family: "Arvo", serif;
}
.font-cursive{
    font-family: "Pacifico", cursive;
}

/* FONT WEIGHT */
.font-extralight{
    font-weight: 200;
}
.font-light{
    font-weight: 300;
}
.font-normal{
    font-weight: 400;
}
.font-medium{
    font-weight: 500;
}
.font-semibold{
    font-weight: 600;
}
.font-bold{
    font-weight: 700;
}
.font-extrabold{
    font-weight: 800;
}

/* FONT SIZE */
.text-xs{
    font-size: 0.875rem;
    line-height: 1rem;
}
.text-sm{
    font-size: 1rem;
    line-height: 1.5rem;
}
.text-md{
    font-size: 1.5rem;
    line-height: 2rem;
}
.text-lg{
    font-size: 2rem;
    line-height: 3rem;
}
.text-xl{
    font-size: 2.5rem;
    line-height: 4.5rem;
}
.text-2xl{
    font-size: 3rem;
    line-height: 5rem;
}
.text-3xl{
    font-size: 3.5rem;
    line-height: 6rem;
}


/* FONT COLOR */

.text-white{
    color: #ffffff;
}
.text-black{
    color: #000000;
}
.text-primary{
    color: var(--primary);
}
.text-secondary{
    color: var(--secondary);
}
.text-accent{
    color: var(--accent);
}
.text-complementary{
    color: var(--complementary);
}



.column-lg-1, .column-lg-2, .column-lg-3, .column-lg-4, .column-lg-5, .column-lg-6, .column-lg-7, .column-lg-8, .column-lg-9, .column-lg-10, .column-md-1, .column-md-2, .column-md-3, .column-md-4, .column-md-5, .column-md-6, .column-md-7, .column-md-8, .column-md-9, .column-md-10, .column-sm-1, .column-sm-2, .column-sm-3, .column-sm-4, .column-sm-5, .column-sm-6, .column-sm-7, .column-sm-8, .column-sm-9, .column-sm-10 ,.column-xs-1, .column-xs-2, .column-xs-3, .column-xs-4, .column-xs-5, .column-xs-6, .column-xs-7, .column-xs-8, .column-xs-9, .column-xs-10{
    max-width: 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
}

.show-lg, .show-md, .show-sm, .show-xl, .show-xs{
    display: none;
}


@media screen and (max-width: 375px) {
    .hide-xs{
        display: none;
    }
    .show-xs{
        display: block;
    }
}
@media screen and (max-width: 425px) {
    .hide-sm{
        display: none;
    }
    .show-sm{
        display: block;
    }
    .text-xs{
        font-size: 0.75rem;
        line-height: 1rem;
    }
    .text-sm{
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
    .text-md{
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
    .text-lg{
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .text-xl{
        font-size: 2rem;
        line-height: 3rem;
    }
    .text-2xl{
        font-size: 2.25rem;
        line-height: 3.5rem;
    }
    .text-3xl{
        font-size: 2.5rem;
        line-height: 4.5rem;
    }
    .admin{
        transition: 0.4s ease-in-out;
        background-color: #7ed0f7;
        position: fixed;
        left: -12rem;
        top: 62px;
    }
}
@media screen and (max-width: 768px) {
    .hide-md{
        display: none;
    }
    .show-md{
        display: block;
    }
    .navbar ul li a{
        font-size: 1rem;
    }
    .navbar ul li{
        list-style:none;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
    .navbar ul{
        position: fixed;
        right: -100%;
        left: unset;
        top: 59px;
        background-color: var(--complementary);
        height: 100%;
        max-width: 70%;
        width:10rem;
        transition: 0.4s ease-in-out;
    }
    .active ul{
        right: 0;
        transition: 0.4s ease-in-out;
    }
    .navbar ul{
        flex-direction: column;
        justify-content: start;
        padding: 0;
    }
    .navbar ul li{
        padding: 1rem;
    }
}
@media screen and (max-width: 1024px) {
    .hide-lg{
        display: none;
    }
    .show-lg{
        display: block;
    }
    .navbar ul li a{
        font-size: 1rem;
    }
    .navbar ul li{
        list-style:none;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
    .navbar{
        padding: 1.875rem 0;
    }
    .navbar .nav-item{
        font-size: 1rem;
    }
    .admin{
        top: 59px;
    }
    
}
@media screen and (max-width: 1440px) {
    .show-xl{
        display: block;
    }
    .hide-xl{
        display: none;
    }
}
@media screen and (min-width: 375px) {
    .container{
        max-width: 100%;
    }

    .column-xs-1{
        -ms-flex: 0 0 10%;
        flex: 0 0 10%;
        max-width: 10%
    }
    .column-xs-2{
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }
    .column-xs-3{
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 30%
    }
    .column-xs-4{
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%
    }
    .column-xs-5{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .column-xs-6{
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%
    }
    .column-xs-7{
        -ms-flex: 0 0 70%;
        flex: 0 0 70%;
        max-width: 70%
    }
    .column-xs-8{
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%
    }
    .column-xs-9{
        -ms-flex: 0 0 90%;
        flex: 0 0 90%;
        max-width: 90%
    }
    .column-xs-10{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}
@media screen and (min-width: 435px) {
    .container{
    max-width: 100%;
    }

    .column-sm-1{
        -ms-flex: 0 0 10%;
        flex: 0 0 10%;
        max-width: 10%
    }
    .column-sm-2{
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }
    .column-sm-3{
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 30%
    }
    .column-sm-4{
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%
    }
    .column-sm-5{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .column-sm-6{
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%
    }
    .column-sm-7{
        -ms-flex: 0 0 70%;
        flex: 0 0 70%;
        max-width: 70%
    }
    .column-sm-8{
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%
    }
    .column-sm-9{
        -ms-flex: 0 0 90%;
        flex: 0 0 90%;
        max-width: 90%
    }
    .column-sm-10{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}
@media screen and (min-width: 768px) {
    .container{
    max-width: 800px;
    }

    .column-md-1{
        -ms-flex: 0 0 10%;
        flex: 0 0 10%;
        max-width: 10%
    }
    .column-md-2{
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }
    .column-md-3{
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 30%
    }
    .column-md-4{
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%
    }
    .column-md-5{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .column-md-6{
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%
    }
    .column-md-7{
        -ms-flex: 0 0 70%;
        flex: 0 0 70%;
        max-width: 70%
    }
    .column-md-8{
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%
    }
    .column-md-9{
        -ms-flex: 0 0 90%;
        flex: 0 0 90%;
        max-width: 90%
    }
    .column-md-10{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}
@media screen and (min-width: 1024px) {
    .container{
    max-width: 1200px;
    }

    .column-lg-1{
        -ms-flex: 0 0 10%;
        flex: 0 0 10%;
        max-width: 10%
    }
    .column-lg-2{
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }
    .column-lg-3{
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 30%
    }
    .column-lg-4{
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%
    }
    .column-lg-5{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .column-lg-6{
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%
    }
    .column-lg-7{
        -ms-flex: 0 0 70%;
        flex: 0 0 70%;
        max-width: 70%
    }
    .column-lg-8{
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%
    }
    .column-lg-9{
        -ms-flex: 0 0 90%;
        flex: 0 0 90%;
        max-width: 90%
    }
    .column-lg-10{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}
@media screen and (min-width: 1440px) {
    .container{
    max-width: 1500px;
    }
    .show-xl{
        display: block;
    }
    .column-xl-1{
        -ms-flex: 0 0 10%;
        flex: 0 0 10%;
        max-width: 10%
    }
    .column-xl-2{
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }
    .column-xl-3{
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 30%
    }
    .column-xl-4{
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%
    }
    .column-xl-5{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .column-xl-6{
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%
    }
    .column-xl-7{
        -ms-flex: 0 0 70%;
        flex: 0 0 70%;
        max-width: 70%
    }
    .column-xl-8{
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%
    }
    .column-xl-9{
        -ms-flex: 0 0 90%;
        flex: 0 0 90%;
        max-width: 90%
    }
    .column-xl-10{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}




/* TO DO
containers
img
fonts
container
general margin and margin
columns
flex
*/

