<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Landing Page</title>
    <meta name="description" content="Proiect TW">
    <meta name="author" content="">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&family=Rubik:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../../css/styles.css">

</head>

<body>
    <nav class="navbar bg-primary flex content-between items-center">
        <!-- to be replaced with logo -->
        <a class="nav-item text-white font-serif font-medium hide-md" href="../../index.html">SMART CHILDREN MONITOR</a>
        <ul class="flex m-0 content-center">
            <li><a class="text-white font-serif font-medium" href="../front/home.html">Home</a></li>
            <li><a class="text-white font-serif font-medium" href="../front/about.html">About</a></li>
            <li><a class="text-white font-serif font-medium" href="../front/monitor.html">Monitor</a></li>
            <li><a class="text-white font-serif font-medium" href="../admin/admin.html">Configuration</a></li>
            <li><a class="text-white font-serif font-medium" href="../front/contact.html">Contact</a></li>
        </ul>
        <a class="nav-item font-medium text-white font-serif" href="../front/login.html">Login</a>
    </nav>
    <div class="flex wrap">
            <nav class="admin h-100">
                <ul class="text-right">
                    <li class="p-1"><a class="text-md text-center text-white font-medium font-serif" href="../admin/dashboard.html">Dashboard <img src="../../res/img/dashboard.png" class="invert icon ml-2"></a></li>
                    <li class="p-1"><a class="text-md text-center text-white font-medium font-serif" href="../admin/settings.html">Configuration <img src="../../res/img/setting.png" class="invert icon ml-2"></a></li>
                    <li class="p-1"><a class="text-md text-center text-white font-medium font-serif" href="../admin/users.html">Users <img src="../../res/img/user.png" class="invert icon ml-2"></a></li>
                    <li class="p-1"><a class="text-md text-center text-white font-medium font-serif" href="../admin/aspect.html">Aspect <img src="../../res/img/filter.png" class="invert icon ml-2"></a></li>
                    <li class="p-1"><a class="text-md text-center text-white font-medium font-serif" href="../front/home.html">Log out <img src="../../res/img/logout.png" class="invert icon ml-2"></a></li>
                </ul>
            </nav>
        <div class="column-md-9"></div>
    </div>
    <script src=""></script>
</body>
</html>