<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Landing Page</title>
    <meta name="description" content="Proiect TW">
    <meta name="author" content="">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&family=Rubik:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../../css/styles.css">
    <script src="../../js/main.js"></script>
</head>

<body>
    <nav class="navbar bg-secondary flex content-between items-center" id="navbar">
        <!-- to be replaced with logo -->
        <button onclick="navOpen()" class="show-md mr-2 ml-2 menu-button"><img src="../../res/img/menu.png" class="icon invert"></button>
        <a class="ml-1 nav-item text-white font-serif font-medium hide-md" href="../../index.html">SMART CHILDREN
            MONITOR</a>
        <ul class="flex m-0 content-center">
            <li><a class="text-white font-serif font-medium" href="../front/home.html">Home</a></li>
            <li><a class="text-white font-serif font-medium" href="../front/about.html">About</a></li>
            <li><a class="text-white font-serif font-medium" href="../front/monitor.html">Monitor</a></li>
            <li><a class="text-white font-serif font-medium" href="../admin/dashboard.html">Configuration</a></li>
            <li><a class="text-white font-serif font-medium" href="../front/contact.html">Contact</a></li>
            <li><a class="text-white font-serif font-medium show-md" href="../front/login.html">Login</a></li>
        </ul>
        <a class="mr-1 ml-1 nav-item font-medium text-white font-serif hide-md" href="../front/login.html">Login</a>
    </nav>
</body>