<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Register</title>
    <meta name="description" content="Proiect TW">
    <meta name="author" content="">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&family=Rubik:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../../css/styles.css">
    <script src="../../js/main.js"></script>
</head>

<body>
    <nav class="navbar bg-secondary flex content-between items-center" id="navbar">
        <!-- to be replaced with logo -->
        <button onclick="navOpen()" class="show-md mr-2 ml-2 menu-button"><img src="../../res/img/menu.png" class="icon invert"></button>
        <a class="ml-1 nav-item text-white font-serif font-medium hide-md" href="../../index.html">SMART CHILDREN
            MONITOR</a>
        <ul class="flex m-0 content-center">
            <li><a class="text-white font-serif font-medium" href="../front/home.html">Home</a></li>
            <li><a class="text-white font-serif font-medium" href="../front/about.html">About</a></li>
            <li><a class="text-white font-serif font-medium" href="../front/monitor.html">Monitor</a></li>
            <li><a class="text-white font-serif font-medium" href="../admin/dashboard.html">Configuration</a></li>
            <li><a class="text-white font-serif font-medium" href="../front/contact.html">Contact</a></li>
            <li><a class="text-white font-serif font-medium show-md" href="../front/login.html">Login</a></li>
        </ul>
        <a class="mr-1 ml-1 nav-item font-medium text-white font-serif hide-md" href="../front/login.html">Login</a>
    </nav>

    <div class="bg-primary flex wrap pb-5">
        <div class="column-md-4 hide-md">
            <img class="img cover" src="../../res/img/markus-spiske-OO89_95aUC0-unsplash.jpg">
        </div>
        <div class="column-md-6">
            <div class="p-3">
                <h1 class="font-serif text-white font-extrabold text-3xl ">
                    Register here
                </h1>
                <h2 class="font-sans text-white text-sm font-normal">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis harum quam fugiat doloribus
                    earum
                    architecto labore omnis nulla deserunt minus. Officia dolorem quod fugit temporibus mollitia, quasi
                    dolorum rerum quia.
                </h2>
                <form action="../../index.html" method="post">
                    <div class="flex wrap">
                        <div class="column-md-5"> 
                            <label class="form-label" for="fname">First name:</label><br>
                            <input class="form-input" type="text" id="fname" name="fname" placeholder="First Name"><br>
                        </div>
                        <div class="column-md-5"> 
                            <label class="form-label" for="name">Last name:</label><br>
                            <input class="form-input" type="text" id="lname" name="lname" placeholder="Last Name"><br>
                        </div>
                        <div class="column-md-5"> 
                            <label class="form-label" for="email">Email Adress:</label><br>
                            <input class="form-input" type="email" id="email" name="email" placeholder="example@email.com"><br>
                        </div>
                        <div class="column-md-5"> 
                            <label class="form-label" for="phone">Phone Number:</label><br>
                            <input class="form-input" type="tel" id="phone" name="phone" placeholder="0777 777 777"><br>
                        </div>
                        <div class="column-md-6"> 
                            <label class="form-label" for="nname">Username</label><br>
                            <input class="form-input" type="text" id="uname" name="uname" placeholder="example123"><br>
                        </div>
                        <div class="column-md-6"> 
                            <label class="form-label" for="pass">Password</label><br>
                            <input class="form-input" type="password" id="pass" name="pass" placeholder=""><br>
                        </div>
                        <div class="column-md-10"> 
                            <label class="form-label" for="loc">Adress:</label><br>
                            <input class="form-input" type="text" id="loc" name="loc" placeholder="Street Example Nr.1 "><br>
                        </div>
                        <button class="button mt-3" type="submit">Register</button>
                        <div class="column-lg-10">
                            <p class="font-sans text-white text-sm font-normal">Already have an account? Click here to log in</p>
                        <a class="button" href="login.html">Log in</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="bg-secondary pt-2 pb-2">
        <p class="text-center font-medium font-sans text-white text-sm m-0">Smart Children Monitor</p>
    </footer>
</body>